* {margin: 0; padding: 0;}

header {background-color: rgb(10, 20, 12);}

	nav {display: flex; height: 100px;}
	nav #h-toggle {display: none;}
	.h-logo {height: 100px;}

		nav label
		{
			color: white;
			cursor: pointer;
			display: none;
			font-size: 26px;
			position: absolute;
			right: 20px;
			top: 32px;
			z-index: 1;
		}

/* menu */

		nav ul
		{
			margin: auto;	/* center nav btn */
			text-align: center;
		}
		
	/* btn */
			nav ul li {display: inline-block;} /* inline btn */
		
		/* txt */
				nav ul li a
				{
					border-radius: 10px;
					color: white;
					display: block;
					min-width: 80px;
					padding: 12px 30px;
					text-decoration: none;
					transition: all 0.2s ease-out;
				}

	/* submenu */
					nav ul li ul
					{
						background-color: white;
						border-radius: 0 0 10px 10px;
						box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
						display: none;
						position: absolute;
						z-index: 1;
					}
					
		/* txt */
						nav ul li ul a
						{
							color: rgb(10, 20, 12);	
							padding: 12px 10px;					
							text-align: left;
						}

/* social media */

	nav .h-social {margin: auto 30px;}
	nav .h-social a {text-decoration: none;}
	nav .h-social a img {height: 30px;}


/* hover */

	/* hover btn */
	nav ul li a:hover
	{
		background-color: white;
		color: rgb(10, 20, 12);
	}

	/* display submenu */
	nav .h-dropmenu:hover .h-submenu {display: block;}
	
	/* keep produits  */
	nav .h-dropmenu:hover .h-produits
	{
		background-color: white;
		border-radius: 10px 10px 0 0;
		color: rgb(10, 20, 12);
	}

	/* submenu color */
	nav ul li ul a:hover
	{
		background-color: rgb(220, 220, 220);
		border-radius: 0;
	}

	/* submenu end */
	nav ul li ul a.h-last:hover {border-radius: 0 0 10px 10px;}




/* phone ver 850px */
@media only screen and (max-width: 850px)
{
	nav label {display: block;}
	nav #h-toggle:checked + .h-menu {display: block;}
	nav .h-social {display: none;}
	nav ul li a:hover {border-radius: 0; background-color: rgb(220, 220, 220);}
	nav ul li a.h-last:hover {border-radius: 0 0 10px 10px;}

	nav .h-menu
	{
		background-color: rgb(170, 170, 170, .9);
		border-radius: 0 0 10px 10px;
		display: none;
		margin-top: 100px;
		position: absolute;
		right: 0;
		width: 140px;
		z-index: 1;
	}

		nav ul li ul
		{
			background-color: rgb(170, 170, 170, .9);
			border-radius: 10px 0 10px 10px;
			right: 140px;
			text-align: center;
			top: 45px;
			width: 160px;
		}

						nav ul li.h-dropmenu:hover .h-produits	/* hover btn produits */
						{
							background-color: white;
							border-radius: 0;
							color: rgb(10, 20, 12);
						}

								nav ul li ul a	/* submenu txt */
								{
									color: white;
									padding: 12px 10px;								
									text-align: center;
									width: 140px;
								}

								nav ul li ul a:hover	/* hover submenu txt */
								{
									background-color: rb(220, 220, 220);
									border-radius: 0;
								}
								
								nav ul li ul .h-first:hover {border-radius: 10px 0 0 0;}
	}
}				